
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container product-page-container">
    <nav role="navigation" class="sub-menu row">
        <div class="store-menu-list row">
            <ul>
                <li>
                    @Html.HtmlLink(Url.Kentico().PageUrl(ContentItemIdentifiers.COFFEES), ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Coffees"))
                </li>
                <li>
                    @Html.HtmlLink(Url.Kentico().PageUrl(ContentItemIdentifiers.BREWERS), ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Brewers"))
                </li>
                <li>
                    @Html.HtmlLink(Url.Kentico().PageUrl(ContentItemIdentifiers.ACCESSORIES), ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Accessories"))
                </li>
                <li>
                    @Html.HtmlLink(Url.Kentico().PageUrl(ContentItemIdentifiers.GRINDERS), ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Grinders"))
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}