@{
    var id = Guid.NewGuid().ToString();
}

@using (Ajax.BeginForm("SubscribeAuthenticated", "NewsletterSubscriptionWidget", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = id
}, new { id = id }))
{
@Html.Kentico().AntiForgeryToken()
@Html.Kentico().ComponentPropertiesData()

@Html.ValidationMessage(String.Empty)

<p>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.News.SubscriberEmail")</p>

<input type="submit" value="@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.News.Subscribe")" class="btn btn-primary" />
}
