@model GulfCoastWorkforceSolutions.Models.Orders.OrderDetailViewModel

@{
    ViewBag.Title = ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.YourOrders.OrderDetail");
}

<a href="@Url.Action("Index", "Orders")">&larr; @ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.YourOrders.OrderDetail.Back")</a>
<h2>
    @ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.YourOrders.OrderDetail")
    @Model.InvoiceNumber - @ResHelper.LocalizeString(Model.StatusName)
</h2>
<hr />
<div>
    <div class="row">
        <div class="col-md-6">
            <h3>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Checkout.BillingDetails")</h3>
            @Html.DisplayFor(m => m.OrderAddress)
        </div>
        <div class="col-md-6">
            <h3>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Checkout.ShippingDetails")</h3>
            @Html.DisplayFor(m => m.OrderAddress)
        </div>
    </div>
    <div>
        <h4>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.YourOrders.OrderDetail.Items")</h4>
        <hr />
        @foreach (var orderItem in Model.OrderItems)
        {
            <div class="row order-item">
                <div class="col-md-10">
                    @if (!string.IsNullOrEmpty(orderItem.SKUImagePath))
                    {
                        <div class="order-item-image">
                            <a href="@Url.Action("ItemDetail", "Checkout", new { skuId = orderItem.SKUID })">
                                <img src="@orderItem.SKUImagePath" alt="@orderItem.SKUName" title="@orderItem.SKUName" />
                            </a>
                        </div>
                    }
                    <div class="order-item-info">
                        @Html.ActionLink(orderItem.SKUName, "ItemDetail", "Checkout", new {skuId = orderItem.SKUID }, null)
                    </div>
                    <div class="order-item-amount">
                        <div>
                            <span class="strong">Qty: </span>
                            <span>@orderItem.UnitCount</span>
                        </div>
                        <div>
                            <span class="strong">Unit price: </span>
                            <span>@Model.FormatPrice(orderItem.UnitPrice)</span>
                        </div>

                    </div>

                    @Html.ValidationMessage(orderItem.UnitPrice.ToString(), new {@class = "red"})

                </div>
                <div class="col-md-2 order-item-subtotal">
                    <span>@Model.FormatPrice(orderItem.TotalPriceInMainCurrency)</span>
                </div>
            </div>
            <hr />
        }
        <div class="order-total-price">
            <div>
                <span class="strong">@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.YourOrders.OrderDetail.Total")</span>
                <span class="total-price">@Model.FormatPrice(Model.TotalPrice)</span>
            </div>
        </div>

    </div>
</div>
