@model GCWS.Models.Widgets.MediaTextWidgetViewModel
<div class="col-lg-6 col-md-12 ">
    <div class="panel_img_l">
        <img src="@Model.Image" alt="@Model.Title">
    </div>
</div>
<div class="col-lg-6 col-md-12">
    <div class="panel_det_r">
        <h2>@Model.Title</h2>
        <p>
            <strong>
                Welcome to the Lorem Ipsum Generator Pro, the ultimate source of placeholder text for all your design needs. Whether you're creating a website, designing a brochure, or crafting the next great novel, our nonsensical text will help you fill in those empty
                spaces with style.
            </strong>
        </p>
        <p>
            Nullam interdum, enim aliquam lacinia interdum, ipsum risus ultrices nunc, nec dignissim libero felis in ex. Donec non sem accumsan, suscipit magna id, auctor quam. Mauris blandit iaculis sapien ac pellenteque. Duis fermentum mollis ligula. Maecenas fermentum,
            felis lacinia pulvinar tempus, lacus lorem tincidunt nisl, et euismod mi purus eget quam.
        </p>
        <a href="@Model.LinkUrl" class="btn_sm">@Model.LinkTitle <img src="~/content/img/arrow_forward_black.svg" alt="arrow"></a>
    </div>
</div>