@using Kentico.PageBuilder.Web.Mvc
@using GulfCoastWorkforceSolutions.Controllers.Widgets
@model GulfCoastWorkforceSolutions.Models.Home.IndexViewModel

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}

@Html.Kentico().EditableArea(
    "area1")

@Html.Kentico().EditableArea(
    "area2",
    new EditableAreaOptions
    {
        DefaultSectionIdentifier = ComponentIdentifiers.TWO_COLUMN_SECTION,
        AllowedSections = AllowedComponents.NONE,
        AllowedWidgets = new[] { SystemComponentIdentifiers.RICH_TEXT_WIDGET_IDENTIFIER }
    }
)

<div class="row cafe-cards">
    @Html.Kentico().EditableArea(
        "area3",
        new EditableAreaOptions
        {
            DefaultSectionIdentifier = ComponentIdentifiers.THREE_COLUMN_SECTION,
            AllowedSections = new[] { ComponentIdentifiers.SINGLE_COLUMN_SECTION, ComponentIdentifiers.THREE_COLUMN_SECTION }
            
        }
    )
</div>
